<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Task Manager</title>


</head>
<body>
<h1>Task Manager</h1>
<a th:href="@{/home}" >Home</a>

	<table>
		<thead>
			<th>Id</th>
			<th>Task Title</th>
			<th>Description</th>
			<th>Due Date</th>
			<th>Status</th>
		</thead>
		<tbody>
			<tr th:each="task:${tasks}">

				<td th:text=${task.id}>Id</td>
				<td th:text=${task.title}>Task Title</td>
				<td th:text=${task.description}>Description</td>
				<td th:text=${task.duedate}>Due Date</td>
				<td th:text=${task.satus}>Status</td>				
				
				 <td>
					<form th:action="@{/task/delete}" method="POST">
						<input type="hidden" name="id" th:value="${task.id}">
						<button type="submit">Delete</button>
					</form>
				</td>
				<td>
				<form th:action="@{/task/edit}" method="get">
					<input type="hidden" name="id" th:value="${task.id}"></input>
					<button type="submit">Edit</button>	</form>
					</td>
					 

				
					
			</tr>


		</tbody>

	</table>

</body>
</html>